<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-2">
        <h2>Ofertas de empleo</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Título de la oferta</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <td style="width: max-content;">Ejemplo oferta</td>
              <td><button type="submit" class="btn btn-primary">Submit</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>